@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #FAFAF9;
  --text: #1C1917;
  --text-muted: #78716C;
  --border: #E7E5E4;
}

body {
  margin: 0;
  font-family: "Noto Sans SC", sans-serif;
  background-color: var(--bg);
  color: var(--text);
  -webkit-font-smoothing: antialiased;
}
